<table class="table">
  <thead>
      <tr>
          <th>Nome do produto</th>
          <th>Valor</th>
          <th>Categoria</th>
          <th>Editar</th>
          <th>Excluir</th>
          <th>Ativar/Desativar</th>

      </tr>
  </thead>
  <tbody>
      <tr>
          <td data-title="Nome do produto">Cerveja</td>
          <td data-title="Valor">R$45.00</td>
          <td data-title="Categoria">Bebidas</td>
          <td data-title="Editar">
              <button>edit</button>
          </td>
          <td data-title="Excluir">
              <button>Excluir</button>
          </td>
          <td data-title="Ativar/Desativar">
              <input id="checkBox" type="checkbox">
          </td>
      </tr>
  </tbody>
</table>
